page-zoom1 {
 // disable the overflow when the detail page is minimized
 ion-content.disable-scrolling .scroll-content {
    overflow-y: hidden;
}

ion-content.content {
    background-color: #f8f8f8;
}

.scale-wrapper {
    display: flex; 
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.scale-row {
    overflow: hidden;
    position: relative;

    &.appointment {
        background-color: #BBDEFB;
        border-left: 3px solid #2196F3;    

        .read-more {
        height: 14px;
        width: 100%;
        background: linear-gradient(0deg, #bbdefb 0%, rgba(255, 255, 255, 0) 150%);
        position: absolute;
        bottom: 0;
        }
    }
}

.scale-cell {
    height: 50px; 
    width: 100%;  
    display: flex; 
    border-top: 1px solid #f5f5f5;   

    .time { 
        width: 60px;
        font-size: 1.2rem; 
        padding: 3px 0 0 6px;
    }

    .text {
        width: calc( 100% - 60px );
        padding: 3px 25px 0 6px;
        line-height: 1.09;
    }
}

}
