<ion-grid class="container">
    <ion-row>
        <ion-col col-3>
            <control-image [src]="'assets/imgs/ranger.png'" [width]="'100%'" [height]="'130px'"></control-image>
        </ion-col>
        <ion-col col-8 offset-1 align-self-center>
            <control-label [text]="'The Shall Company of Thailand Ltd.'" [align]="'left'" [fontSize]="'20px'" [fontWeight]="'bold'"></control-label>
        </ion-col>
    </ion-row>
    <ion-row justify-content-between class="pd-t-30">
        <ion-col col-3>
            <control-label [text]="'The Master'" [align]="'left'" [fontSize]="'18px'"></control-label>
        </ion-col>
        <ion-col col-3>
            <ion-row>
                <ion-col col-4>
                    <control-label [text]="'Date :'" [align]="'right'" [fontSize]="'18px'"></control-label>
                </ion-col>
                <ion-col col-8>
                    <control-input-text [minHeight]="'initial'"></control-input-text>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row justify-content-between>
        <ion-col col-3>
            <control-input-text [minHeight]="'initial'"></control-input-text>
        </ion-col>
        <ion-col col-3>
            <ion-row>
                <ion-col col-4>
                    <control-label [text]="'Time :'" [align]="'right'" [fontSize]="'18px'"></control-label>
                </ion-col>
                <ion-col col-8>
                    <control-input-text [minHeight]="'initial'"></control-input-text>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-3>
            <control-label [text]="'Dear Sir,'" [align]="'left'" [fontSize]="'18px'"></control-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12>
            <control-label [text]="'LETTER OF PROTEST'" [align]="'center'" [fontSize]="'20px'" [fontWeight]="'bold'"></control-label>
        </ion-col>
        <ion-col col-12>
            <control-label [text]="'HIGH DISCHARGE LOSS'" [align]="'center'" [fontSize]="'16px'" [underline]="true"></control-label>
        </ion-col>
    </ion-row>
    <ion-row justify-content-center class="pd-t-30">
        <ion-col col-3>
            <control-label [text]="'On Arrival'" [align]="'center'" [fontSize]="'18px'" [fontWeight]="'bold'"></control-label>
        </ion-col>
        <ion-col col-3>
            <control-label [text]="'Outturn'" [align]="'center'" [fontSize]="'16px'" [fontWeight]="'bold'"></control-label>
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let num of [1,2,3,4,5]" class="pd-t-10">
        <ion-col col-3>
            <!-- <control-label [text]="num" [align]="'left'" ></control-label> -->
            <control-input-text [label]="num" [minHeight]="'initial'" [widthLabel]="'auto'"></control-input-text>
        </ion-col>
        <ion-col col-3>
            <control-input-text [minHeight]="'initial'"></control-input-text>
        </ion-col>
        <ion-col col-3>
            <control-input-text [minHeight]="'initial'"></control-input-text>
        </ion-col>
        <ion-col col-3>
            <control-input-text [minHeight]="'initial'"></control-input-text>
        </ion-col>
    </ion-row>

    <ion-row class="pd-t-30">
        <ion-col col-12>
            <control-label [text]="'We hereby give you notice that you will be held reaponsible for all costs arising from the loss.'"
                [align]="'left'" [fontSize]="'18px'" [fontWeight]="'bold'"></control-label>
        </ion-col>
        <ion-col col-6 offset-6 class="pd-t-10">
            <control-label [text]="'Yours Truly,'" [align]="'center'" [fontSize]="'18px'"></control-label>
        </ion-col>
        <ion-col col-6 offset-6 class="pd-t-10">
            <control-label [text]="'For: Shell Company of Thailand Ltd.'" [align]="'center'" [fontSize]="'18px'"></control-label>
        </ion-col>

        <ion-col col-6 class="pd-t-10">
            <ion-row>
                <ion-col col-4 offset-8>
                        <control-input-text [minHeight]="'initial'"></control-input-text>
                </ion-col>
                <ion-col col-4 offset-8>
                        <control-label [text]="'Master'" [align]="'center'" [fontSize]="'18px'"></control-label>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-6 class="pd-t-10">
                <ion-row>
                    <ion-col col-6 offset-3>
                            <control-input-text [minHeight]="'initial'"></control-input-text>
                    </ion-col>
                    <ion-col col-6 offset-3>
                            <control-label [text]="'Shore Supervisor'" [align]="'center'" [fontSize]="'18px'"></control-label>
                    </ion-col>
                </ion-row>
            </ion-col>
    </ion-row>
</ion-grid>