page-home {
      .img {
        width: 2048px;
        height: 1075px;
        background: url('https://cdn.hasselblad.com/c81e7ee74fdc106a965f51b35c8dd87503a16f0e_tom-oldham-h6d-50c-sample1.jpg') no-repeat;
      }
}
