// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bd-2 {
    border: 2px solid black;
}

.bd-1 {
    border: 1px solid black;
}

.pd-t-5 {
    padding-top: 5px;
}

.pd-t-10 {
    padding-top: 10px;
}

.pd-t-30 {
    padding-top: 30px;
}

.pd-5 {
    padding: 5px !important;
}

.pd-10 {
    padding: 10px !important;
}

.dp-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.h-100{
    height: 100%;
}