
  <ion-grid class="container">
    <ion-row>
      <ion-col col-12 class="tal-ct title">
        TANKER RECEIPT OPERATION LOG BOOK
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="caption">
        DATE/TIME
      </ion-col>
      <ion-col col-4>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="caption">
        NAME OF VESSEL
      </ion-col>
      <ion-col col-4>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-2 class="caption">
        VOYAGE NO.
      </ion-col>
      <ion-col col-4>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="caption">
        JETTY NO
      </ion-col>
      <ion-col col-4>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-2 class="caption">
        DEPOT
      </ion-col>
      <ion-col col-4>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="caption">
        ETA
      </ion-col>
      <ion-col col-4>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-2 class="caption">
        ETD
      </ion-col>
      <ion-col col-4>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 class="header">
        PRODUCT
      </ion-col>
      <ion-col col-6 class="header">
        PARCEL SIZE (BL)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-5>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-1 class="caption">
        L.30 C/mt
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-5>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-5>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-5>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-5>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="caption">
        SHORE SUPV
      </ion-col>
      <ion-col col-8>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="caption">
        HANDED OVER BY
      </ion-col>
      <ion-col col-4>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-2 class="caption">
        DATE/TIME
      </ion-col>
      <ion-col col-4>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-2 class="caption">
        HANDED OVER BY
      </ion-col>
      <ion-col col-4>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
      <ion-col col-2 class="caption">
        DATE/TIME
      </ion-col>
      <ion-col col-4>
        <ion-input class="input-code" type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-2 class="caption">
          HANDED OVER BY
        </ion-col>
        <ion-col col-4>
          <ion-input class="input-code" type="text"></ion-input>
        </ion-col>
        <ion-col col-2 class="caption">
          DATE/TIME
        </ion-col>
        <ion-col col-4>
          <ion-input class="input-code" type="text"></ion-input>
        </ion-col>
        <ion-col col-2 class="caption">
          HANDED OVER BY
        </ion-col>
        <ion-col col-4>
          <ion-input class="input-code" type="text"></ion-input>
        </ion-col>
        <ion-col col-2 class="caption">
          DATE/TIME
        </ion-col>
        <ion-col col-4>
          <ion-input class="input-code" type="text"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row justify-content-start>
        <ion-col col-12>
          <p class="tal-l">DOC. NO. OD - SI04</p>
          <p class="tal-l">last update December 2008</p>
        </ion-col>
      </ion-row>
  </ion-grid>
